@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  margin: 0;
  padding: 0;
}

html {
  background: url('./images/bendjs-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;

  font-family: Roboto, sans-serif;
  font-size: 14px;
}

main {
}

p {
  margin: 0 0 1rem 0;
}

.button {
  text-decoration: none;
  background: #eee;
  display: block;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 0 rgba(black, 0.2);
  cursor: pointer;
  font-size: 115%;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    box-shadow: none;
    transform: translate(1px, 1px);
  }
}
